h1 {
    text-decoration: none;
    font-family:'Oswald';
    list-style-type: none;
    margin: 0;
    text-align: center;
    vertical-align: center;
}

a {
    text-decoration: none;
    font-family:'Oswald';
    list-style-type: none;
    margin: 10px;
    text-align: center;
    vertical-align: center;
    padding: 20px;
    font-size: 24px;
    background-color:black;
}

.gamebutton {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-top: 12px;
}

.gamebutton a {
    color:gray;
}

ul {
    padding: 0px;
    margin: 0px; 
}

.popup ul {
    padding:10px;
    margin:0px;
    text-align: center;
}

.popup a {
    color:white;
}

.query {
    vertical-align: center;
    text-align: center;
}

input {
    background-color: black;
    align-self:center;
    color: white;
    width: 160px;
}

#time {
    padding-top: 96px;
    font-size: 160px;
    color:white;
}

#date {
    font-size: 32px;
    color:gray
}

body {
    background-color: black;
    background-size: cover;
    font-family: 'Oswald'
}

.game {
    background-color: transparent;
    width: 408px;
    height: 408px;
    margin: 50px auto;
}

.game-field {
    width: 134px;
    height: 134px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 6.3em;
    text-align: center;
}

.win {
    color: #E4572E;
    transition: 200ms;
}

#first, #second, #third {
    border-bottom: 3px solid #FFFFFF;
}

#second {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

#fourth, #fifth, #sixth {
    border-bottom: 3px solid #FFFFFF;
}

#fifth {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

#eighth {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.modal-footer {
    padding: 10px 80px 10px 80px;
    align-content: center;
    text-align: center;
}
.modal-footer button {
    background-color: black;
    color: white;
    width: 20%;
    font-size: 64px;
    transition: 500ms;
    align-content: center;
}
.modal-footer button:hover {
    background-color: gray;
    color: white;
}

