h1 {
text-decoration: none;
font-family:'Oswald';
list-style-type: none;
margin: 0;
text-align: center;
vertical-align: center;
}

#time {
padding-top: 96px;
font-size: 160px;
color:white;
}

#date {
font-size: 32px;
color:gray
}


body {
background-color: black;
}
